.container {
  display: flex;

  flex-direction: column;
  gap: 1rem;
}
.app {
  margin-top: 50px;
  margin-left: 50px;
}
.input-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-list__item {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}
.input-list__delete-button {
  height: 10px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
